:root {
    --darkblue: #16264c;
    --darkred: #ac3235;
    --green: #006400;
    --gameborder: .2rem solid var(--darkblue);
    --radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
}

body {
    font-family: 'Gochi Hand', cursive;
    background: rgba(0, 0, 0, 0.1);
    background-image: url("../images/math.png");
    color: var(--darkblue);
}

#select-container {
    margin: 5rem 0 5rem 0;
}

#welcome {
    font-size: 8rem;
    text-align: center;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#play {
    visibility: visible;
    margin: 0 auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7rem;
}

#player1, #player2 {
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    letter-spacing: .05rem;
    width: 100%;
    outline: none;
    background: none;
    padding: 1rem 1.2rem;
    border: var(--gameborder);
    border-radius: var(--radius);
    text-align: center;
}

#player1::placeholder, #player2::placeholder {
    text-align: center;
    opacity: 0.5;
}

#player1::placeholder, #player1 {
    color: var(--darkred);
}

#player2::placeholder, #player2 {
    color: var(--green);
}

#versus {
    user-select: none;
    font-size: 10rem;
    align-self: center;
}

.imgs {
    margin: 4rem 0;
    display: flex;
    align-items: center;
}

.left, .right {
    cursor: pointer;
}

.left {
    visibility: hidden;
}

.bot-img {
    display: none;
}

#game-container {
    display: none;
    /* display: block; */
}

#winner {
    font-family: 'Pacifico', cursive;
    margin: 3rem auto;
    font-size: 4rem;
    letter-spacing: .02rem;
    text-align: center;
}

#game-grid {
    user-select: none;
    width: 60rem;
    height: 60rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 4rem auto;
}

.game-cell {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell:nth-child(1), .game-cell:nth-child(2),
.game-cell:nth-child(4), .game-cell:nth-child(5) {
    border-right: var(--gameborder);
    border-bottom: var(--gameborder);
} 

.game-cell:nth-child(3), .game-cell:nth-child(6) {
    border-bottom: var(--gameborder);
}

.game-cell:nth-child(7), .game-cell:nth-child(8) {
    border-right: var(--gameborder);
}

.btn {
    visibility: hidden;
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    letter-spacing: .05rem;
    color: var(--darkblue);
    cursor: pointer;
    display: block;
    padding: 1rem 1.2rem;
    margin: 2rem auto;
    background: none;
    outline: none;
    border: var(--gameborder);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--green);
    border-color: var(--green);
}